:root {
    --input-linear: linear-gradient(120deg, #5E498C, #F279C8);
    --button-linear: linear-gradient(120deg, #5E498C, #F279C8, #5E498C);
    --button-success: linear-gradient(120deg, #3ebb28, #7eb17e, #3ebb28);
    --input-error: red;
    --input-disable: #9fa39e;
    --white: #fff;
    --input-border:#f8a6ed;
    --login-title: #303030;
    --login-reset:#5E498C;
    --border-height: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background-image: url(img/wp4344510.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__container {
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 999;   
}



.login__title {
    margin-bottom: 32px;
    color: var(--login-title);
}

.login__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}

.login__input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--input-border);
    transition: 0.3s ease-in-out;
}

.login__input-border.error {
    background: var(--input-error);
}

.login__input-border.error::after {
    background: var(--input-error);
}

.login__input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: 0.3s ease-in-out;    
}

.login__input:focus + .login__input-border::after {
    width: 100%;
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: unset;
}

.login__submit:disabled {
    background: var(--input-disable);
    cursor: not-allowed;
}

.login__submit:hover {
    background-position: right;
}

.login__submit.error {
    background: var(--input-error);
}

.login__submit.success {
    background: var(--button-success);
}

.login__reset {
    font-size: 12px;
    text-decoration: none;
    color: var(--login-reset);
}
