:root {
    --input-linear: linear-gradient(120deg, #5E498C, #F279C8);
    --button-linear: linear-gradient(120deg, #5E498C, #F279C8, #5E498C);
    --white: #fff;
    --input-border:#f8a6ed;
    --login-title: #303030;
    --login-reset:#5E498C;
    --border-height: 1px;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.login__container {
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 999;   
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-1 {
    animation: moveWaves-1 3s ease-in-out infinite alternate;
}

.wave-2 {
    animation: moveWaves-2 1.2s ease-in-out infinite alternate;
}

.wave-3 {
    animation: moveWaves-3 0.7s ease-in-out infinite alternate;
} 

/* KEY FRAMES - WAVES */
    @keyframes moveWaves-1{
    from {
        transform: translateX(600px);
    }
}

@keyframes moveWaves-2{
    from {
        transform: translateX(400px);
    }
}

@keyframes moveWaves-3{
    from {
        transform: translateX(200px);
    }
}


.login__title {
    margin-bottom: 32px;
    color: var(--login-title);
}

.login__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}

.login__input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--input-border);
    transition: 0.3s ease-in-out;
}

.login__input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: 0.3s ease-in-out;    
}

.login__input:focus + .login__input-border::after {
    width: 100%;
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: unset;
}
.login__submit:hover {
    background-position: right;
}

.login__reset {
    font-size: 12px;
    text-decoration: none;
    color: var(--login-reset);
}
